# ================================
# macOS
# ================================
**/.DS_Store
**/.AppleDouble
**/.LSOverride
**/Icon?
**/._*
**/.Spotlight-V100
**/.Trashes
**/*.swp
**/*.swo

# ================================
# Python
# ================================
**/__pycache__/
**/*.py[cod]
**/*$py.class
**/*.pyo
**/*.pyd
**/*.so
**/*.egg
**/*.egg-info/
**/dist/
**/build/
**/.eggs/
**/pip-wheel-metadata/
**/*.log
**/*.tmp
**/*.bak
**/*.db
**/.cache/
**/.pytest_cache/
**/.tox/
**/coverage.*
**/htmlcov/
**/.mypy_cache/
**/.dmypy.json
**/.pyre/
**/.pytype/
**/.env
**/.venv
**/env/
**/venv/
**/ENV/
**/env.bak/
**/venv.bak/
**/.virtualenv/

# Jupyter Notebook checkpoints
**/.ipynb_checkpoints/

# ================================
# PyCharm / JetBrains IDE
# ================================
**/.idea/
**/*.iml
**/*.ipr
**/*.iws
**/out/

# ================================
# VSCode
# ================================
**/.vscode/

# ================================
# Windows
# ================================
**/Thumbs.db
**/ehthumbs.db
**/Desktop.ini
